#container{
    display: flex;
    flex-wrap: wrap;
    height:960px;
    width:960px;
    background-color:black;
}
div{
background-color:lightgray;
flex-grow:1;
flex-shrink:0;
flex-basis: auto;
outline: 2px solid red;
}
.black-color:hover{
    background-color:black;
}
.black-color{
    background-color:black;
}
.rgb-color:hover{
    background-color:rgb(100, 0, 127);
}
.rgb-color{
    background-color:rgb(100, 0, 127);
}
  