#container{
    display: flex;
    flex-wrap: wrap;
    height:960px;
    width:960px;
    /* background-color:black; */
}
div{
background-color:white;
flex-grow:0;
flex-shrink:0;
flex-basis: auto;
outline: 2px solid red; 
box-sizing: border-box;
}
.black-color:hover{
    background-color:black;
}
.black-color{
    background-color:black;
}
.rgb-color:hover{
    background-color:rgb(100, 0, 127);
}
.rgb-color{
    background-color:rgb(100, 0, 127);
}
body{
    display:flex;
    flex-direction:column;
    background-color: white;
}
#settings{
    display: flex;
    flex-direction: column;
    gap:32px;
    align-items: center;
    justify-content: center;
    outline:lightgray
}
#rowin{
    display:flex;
    flex-direction: column;
    gap:8px;
    align-items: center;
    justify-content: center;
}
#settings div{
outline:lightgray;
}
#content{
    display:flex;
    align-items: center;
    justify-content: center;
   width:auto
}
#header{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    outline:white;

}
p{
    font-size:48px;
    font-weight: bold;
}
#odinlogo{
    width:120px;
    height:auto;
   
}
button{
    padding:20px;
    width:120px;
}
#rowno{
    width:64px;
}
#rowin button{
    width:90px;
}
#footer{
    display:flex;
    align-items: center;
    justify-content:center;
    background-color:white;
    font-size: 32px;
    font-weight: bold;
}
#blackcolor{
    width:48px;
}
#randomcolor{
    width:48px;
}
#eraserimg{
    width:48px;
}
#currentcolorshow{
    width:48px;
    height:48px;
    background-color: black;
}
#currentcolor{
    width:120px;
    height:68px;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
#currentcolortext{
    background-color: white; 
}

